on:
  push:
    branches: [main]
  pull_request:

name: Continuous integration

jobs:

  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo check --all --all-targets

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        rust: [stable]
        include:
          - os: ubuntu-latest
            rust: nightly
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo test --locked

  test-persistence:
    name: test persistence
    runs-on: ubuntu-latest
    strategy:
      matrix:
        db: [postgres, mysql]
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - run: |
          cd persistence/${{ matrix.db }}-es
          docker compose up -d
          cargo test
          docker compose down

  # test-dynamo:
  #   name: test persistence (dynamo)
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: dtolnay/rust-toolchain@stable
  #     - name: Set up DynamoDB test environment
  #       run: |
  #         cd persistence/dynamo-es
  #         docker compose up -d
  #         ./db/create_tables.sh
  #         cargo test
  #         docker compose down

  fmt:
    name: format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo fmt -- --check

  cargo-deny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: EmbarkStudios/cargo-deny-action@v2

  msrv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Get MSRV from Cargo.toml
        run: |
          MSRV=$(grep 'rust-version' Cargo.toml | sed 's/.*= *"\(.*\)".*/\1/')
          echo "MSRV=$MSRV" >> $GITHUB_ENV
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.MSRV }}
      - uses: taiki-e/install-action@cargo-no-dev-deps
      - run: cargo no-dev-deps check

  # Automatically merge if it's a Dependabot PR that passes the build
  dependabot:
    needs: [check, test, test-persistence, fmt, cargo-deny, msrv]
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
